.blog {
  display: grid;
  gap: 4rem;

  /* background-image: linear-gradient
      (to right, rgb(0 0 0 / 0.65), rgb(0 0 0 / 0.7)),
    url(${imagen.url}); */
}

@media (min-width: 768px) {
  .blog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .blog {
    grid-template-columns: repeat(3, 1fr);
  }
}
